.hero__section{
    padding-top: 75px;
}
.hero__container{
    @include container;
    display: flex;
}
.hero__group{
    max-width: 540px;
}
.hero__title{
margin-bottom: 40px;

    font-weight: 600;
    font-size: 64px;
    line-height: calc(80/64);
    color: var(--text-color-dark);
}
.hero__text{
margin-bottom: 60px;

font-size: 24px;
line-height: (36/24);
}
.hero__button{
    width: 426px;
    padding: 23px 64px;
    background: var(--color-accent);
    
font-size: 36px;
line-height: calc(54/36);
text-align: center;
letter-spacing: 0.03em;
}